body {}

/***
*   Header
***/
.available-header{
    height:40px;
    width:94%;
    margin: 0px ;
    padding: 10px 3%;
    border-top: 3px inset #96928D;
    border-bottom: 3px inset #96928D;
    background-color: #9A9691;
}
div.week-tabs{
    margin: 0px auto;
    padding:0px;
    width: 100%;
}
div.week-tabs > div{
    float: left;
    height: 30px;
    width:49.1%;
    background-color:#FFF;
    padding-top: 5px;
}
div.week-tabs > .tab1{
    border-top: 2px solid #9B8F74;
    border-top-left-radius: 2px;
    border-bottom: 2px solid #9B8F74;
    border-bottom-left-radius: 2px;
    border-left: 2px solid #9B8F74;
}
div.week-tabs > .tab2{
    border-top: 2px solid #9B8F74;
    border-top-right-radius: 2px;
    border-bottom: 2px solid #9B8F74;
    border-bottom-right-radius: 2px;
    border-right: 2px solid #9B8F74;
}
div.week-tabs > div.active{
    background-color:#B8A16F;
}
div.week-tabs > div.active a {
    color: #FFF;
    text-decoration: none;
    font-weight:bold;
    font-size: 1.2em;
    text-align:center;
    display:block;
}
div.week-tabs > div a {
    color: #B8A16F;
    text-decoration: none;
    font-weight:bold;
    font-size: 1.2em;
    text-align:center;
    display:block;
}
/***
*   Content
***/
ul.week-list{
    list-style-type: none;
    width:100%;
    margin:0px;
    padding:0px;
    background-color:#FFF;
}
ul.week-list > li{
    border-bottom: 2px solid #222;
    color:#B8A16F;
    text-align: center;
    text-transform:capitalize;
    font-size:1.6em;
    font-weight:bold;
    height:100%;
}
label.day-title {
    padding: 10px 0px;
    margin-right: 10px;
    display: block;
    background:  #fff url("../images/arrow-gold.png") no-repeat right;
}
label.day-name{
    display: block;
    color: #AEC8BE;
    background:  #fff url("../images/arrow-turquoise.png") no-repeat right;
}
.row.weather-item{
    margin-top: 0px;
    background-color:#AEC8BE;
    height:45px;
    clear:both;
    color:white;
    font-weight:normal;
    display:block;
}
.row.weather-item.top-border{
    border-top: 2px solid #222;
}
.weather-item .cell .weather-icon{
    height: 45px;
    width: 45px
}
.weather-item .cell{
    float:left;
    width:33%;
    height:45px;
    padding:0px;
}
.weather-item .cell:nth-child(n+3){
    width: 15%;
}
.cell p.temperature{
    margin: 4px 0px 0px 0px;
}
.cell p.time{
    margin: 9px 0px 0px 0px;
}
/***
*   Buttons
***/
.onoffswitch {
    position: relative; 
    width: 65px;
    margin-top:7px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
label.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
    padding: 0px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; 
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; 
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px;
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 7px;
    background-color: #FFF; 
    color: #999;
    text-align:left;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 7px;
    background-color: #FFF; 
    color: #999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 18px; 
    margin: 6px;
    background-color: #FF0000;
    border: 2px solid #999999; 
    border-radius: 20px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 28px;
    -moz-transition: all 0.3s ease-in 0s; 
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; 
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background: #FFFFFF;
}
    