/***
*    Content
***/
.row.job-details > .row:first-child{
    font-size           :   1.5em;
    text-align          :   center;
}
.row.job-details > .row:last-child {
    padding-bottom      :   10px;
}
.cell.description-header, .cell.description{
    text-align          :   left;
    padding-left        :   2%;
    float               :   left;
    width               :   55%;
}
.cell.description{
    font-size           :   1.2em;
}
.cell.priority-header, .cell.priority{
    float               :   left;
    width               :   10%;
    margin              :   0% 5%;
}
.cell.priority{
    height              :   55px;
    text-align          :   center;
    border              :   3px solid #555;
    border-radius       :   10px;
    font-size           :   3em;
}
.cell.status-header, .cell.status{
    width               :   21%;
    float               :   left;
    text-align          :   left;
}
select.reason{
    width               :   95%;
    border-radius       :   10px;
    height              :   33px;
    padding             :   5px;
    font-size           :   1.0em;
    margin-top          :   10px;
    text-align          :   center;
    -webkit-appearance  :   none;
    -moz-appearance     :   none;
    text-indent         :   1px;
    text-overflow       :   '';
    background          : #ffffff; /* Old browsers */
    background          : -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background          : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background          : -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background          : -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background          : -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background          : linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter              : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
select::-ms-expand {
    display: none;
}

/***
*   Media Query
***/
@media (min-width: 620px) and (max-width: 780px) {}
@media only screen and (max-width: 619px) {}