<link rel="stylesheet" type="text/css" href="css/available-jobs.css" />
<script src="../scripts/available-jobs.js"></script>
<section class="job-header" ng-controller="AvailableJobsController as availableJobs">
    <div class="week-tabs">
        <div class="tab1" ng-class="{active : availableJobs.tab === 1}">
            <a href="#" ng-click="availableJobs.ReloadRoute(1)">This Week</a>
        </div>
        <div class="tab2" ng-class="{active : availableWeek.tab === 2}">
            <a href="#" ng-click="availableJobs.ReloadRoute(2)">Next Week</a>
        </div>
    </div>
</section>
<section class="content" ng-controller="JobController as ctrlJob">
    <ul class="week-list">
        <li ng-repeat="day in ctrlJob.days">
            <div class="job-container">
                <div class="job-day row" ng-click="ctrlJob.ToggleActive(day)" ng-style="day.textColor">
                    <div class="job-cell">
                        <div class="top-left-block">
                            <img class="weather-icon" ng-src="{{day.weather.am}}" />
                            <label class="temperature">{{day.temp.am}}<span class="temp-degree">&#8457;</span></label>
                        </div>
                        <div class="bottom-left-block">
                            &nbsp;
                        </div>
                    </div>
                    <div class="job-cell">
                        <label class="job-title">{{day.name}}</label><br />
                        <label class="job-subtitle">{{day.totalJobs}}</label>
                    </div>
                    <div class="job-cell">
                        <div class="top-right-block">
                            &nbsp;
                        </div>
                        <div class="bottom-right-block">
                            <img class="weather-icon" ng-src="{{day.weather.pm}}" />
                            <label class="temperature">{{day.temp.pm}}<span class="temp-degree">&#8457;</span></label>
                        </div>
                    </div>
                </div>
                <div class="row job-items" ng-show="day.showDay">
                    <ul class="job-list">
                        <li ng-repeat="job in day.jobs">
                            <div class="row job-summary" ng-click="ctrlJob.ToggleActiveJob(job)" ng-init="ctrlJob.ToggleActiveJob(job)">
                                <div class="row job-item" ng-style="job.background">
                                    {{job.type}}
                                </div>
                                <div class="row job-place">
                                    {{job.place}}
                                </div>
                                <div class="row job-address">
                                    {{job.address}}
                                </div>
                                <div class="row job-time">
                                    <i>{{job.time}}</i>
                                </div>
                            </div>
                            <div class="row job-details" ng-show="job.showDetails">
                                <div class="row">
                                    <div class="cell description-header"><h5>Description</h5></div>
                                    <div class="cell priority-header"><h5>Priority</h5></div>
                                    <div class="cell status-header">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="cell description">{{job.description}}</div>
                                    <div class="cell priority">{{job.priority}}</div>
                                    <div class="cell status"> 
                                        <label>
                                            <input type="checkbox" ng-model="job.accept">
                                            Accept
                                        </label><br />
                                        <select ng-hide="job.accept" class="reason" ng-init='reasonType=job.reason' ng-model="reasonType" ng-options="reason.name for reason in ctrlJob.Reasons track by reason.id"></select>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </li>
    </ul>
</section>

